<div style="overflow: hidden;">
    <div class="container-fluid top_bar">
      <div class="row top_bar_row">
        <div class="col-sm" id="JoinPhytoCommunity">
          JoinPhytoCommunity
        </div>
        <div class="col-sm" id="VisitPhytoCommunity">
          VisitPhytoCommunity
        </div>
      </div>
    </div>
    <div class="container-fluid naviBar">
        <div class="row justify-content-around">
          <div class="col-md-auto">
            <img src="assets/images/logo2.png" class="logo" />
          </div>
        </div>
      </div>
    <div class="bocp">
        <p style="font-size: x-large !important;font-family: Playfair Display !important;"><span>B</span>usiness
          <span>O</span>f <span>C</span>onsumer <span>P</span>roducts</p>
      </div>
        <div class="row">
            <div class="col" style="padding: 0px 0px 0px 100px;display: grid;align-content: center;">
                <div class="create_account_div">
                <form class="create_account_form">
                    <h2 class="create_account">Sign Up</h2>
                    <br/>
                    <div class="row">
                        <div class="col">
                        <input type="text" class="rounded-0" placeholder="First Name" >
                        </div>
                        <div class="col">
                        <input type="text" class="rounded-0 lname" placeholder="Last Name">
                        </div>
                      </div>
                      <input type="text" placeholder="Organization Name" class="rounded-0"/>
                      <br/>
                      <select required>
                        <option value="">Sign Up as</option>
                        <option value="1">User</option>
                        <option value="2">Manufacturer</option>
                      </select>
                      <br/>
                    <input type="text" placeholder="Email Address" class="rounded-0"/>
                    <br/>
                    <input type="password" placeholder="Password" class="rounded-0"/>
                    <br/>
                    <input type="password" placeholder="Re-enter Password" class="rounded-0"/>
                    <br/>
                    <button class="submit_button"><b>Sign Up</b></button>
                </form>
               <br/><br/>
                <p class="have_an_account" style="cursor: pointer;">Already have an account? <a (click)="signin()"><b style="color: rgba(102,49,48,1);"><u>Sign In</u></b></a></p>
            </div>
            </div>
            <div class="col" style="display: grid;align-content: center;">
                <div>
                <img class="banner-img" src="assets/images/loginlogo1.png"/>
                </div>
            </div>
        </div>
        <br/><br/>
    </div>